.App {
  text-align: center;
  width:"50%";
  margin:"auto"
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.age {
  margin: 10px;
  background-color: "lightblue";
  padding:20
}

button {
  margin: 10px;
  padding:10px;
  border-radius: 4px;
  border: none;
  box-shadow: none;
}

.historyItem {
  list-style-type: none;
  border: 1px solid #f9e5ad;
  margin: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f7e8bc70;
}
